# Pytrends Script

In [1]:
from pytrends.request import TrendReq
import pandas as pd
import time
startTime = time.time()
pytrend = TrendReq(hl='en-GB', tz=360)
colnames = ["keywords"]
df = pd.read_csv("keyword_list.csv", names=colnames)
df2 = df["keywords"].values.tolist()
df2.remove("Keywords")
dataset = []
for x in range(0,len(df2)):
     keywords = [df2[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     # Configuring Api parameters and file
     timeframe='2020-01-22 2020-08-13',
     geo='TR') # Which country or region you want to look at
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset.append(data)
result = pd.concat(dataset, axis=1)
#Renaming the output file
result.to_csv('search_trends_turkey.csv')
executionTime = (time.time() - startTime)
print('Execution time in sec.: ' + str(executionTime))
pytrends_tr = pd.read_csv('search_trends_turkey.csv')

Execution time in sec.: 3.1585681438446045

In [2]:
startTime = time.time()
pytrend = TrendReq(hl='en-GB', tz=360)
colnames = ["keywords"]
df = pd.read_csv("keyword_list.csv", names=colnames)
df2 = df["keywords"].values.tolist()
df2.remove("Keywords")
dataset = []
for x in range(0,len(df2)):
     keywords = [df2[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-22 2020-08-13',
     geo='DE')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset.append(data)
result = pd.concat(dataset, axis=1)
result.to_csv('search_trends_germany.csv')
executionTime = (time.time() - startTime)
print('Execution time in sec.: ' + str(executionTime))
pytrends_de = pd.read_csv('search_trends_germany.csv')

Execution time in sec.: 3.2659897804260254

In [3]:
startTime = time.time()
pytrend = TrendReq(hl='en-GB', tz=360)
colnames = ["keywords"]
df = pd.read_csv("keyword_list.csv", names=colnames)
df2 = df["keywords"].values.tolist()
df2.remove("Keywords")
dataset = []
for x in range(0,len(df2)):
     keywords = [df2[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-22 2020-08-13',
     geo='FR')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset.append(data)
result = pd.concat(dataset, axis=1)
result.to_csv('search_trends_france.csv')
executionTime = (time.time() - startTime)
print('Execution time in sec.: ' + str(executionTime))
pytrends_fr = pd.read_csv('search_trends_france.csv')

Execution time in sec.: 3.3156206607818604

In [4]:
startTime = time.time()
pytrend = TrendReq(hl='en-GB', tz=360)
colnames = ["keywords"]
df = pd.read_csv("keyword_list.csv", names=colnames)
df2 = df["keywords"].values.tolist()
df2.remove("Keywords")
dataset = []
for x in range(0,len(df2)):
     keywords = [df2[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-22 2020-08-13',
     geo='IT')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset.append(data)
result = pd.concat(dataset, axis=1)
result.to_csv('search_trends_italy.csv')
executionTime = (time.time() - startTime)
print('Execution time in sec.: ' + str(executionTime))
pytrends_it = pd.read_csv('search_trends_italy.csv')

Execution time in sec.: 3.092771053314209

In [5]:
#Renaming Date columns
pytrends_tr=pytrends_tr.rename(columns = {'date':'Date'})
pytrends_de=pytrends_de.rename(columns = {'date':'Date'})
pytrends_fr=pytrends_fr.rename(columns = {'date':'Date'})
pytrends_it=pytrends_it.rename(columns = {'date':'Date'})

In [6]:
pytrends_tr.dtypes

Date        object
Travel       int64
Flight       int64
Shopping     int64
Hotel        int64
dtype: object

In [7]:
# ...... to Datetime 
pytrends_tr['Date'] = pd.to_datetime(pytrends_tr['Date'])
pytrends_de['Date'] = pd.to_datetime(pytrends_de['Date'])
pytrends_fr['Date'] = pd.to_datetime(pytrends_fr['Date'])
pytrends_it['Date'] = pd.to_datetime(pytrends_it['Date'])

In [8]:
pytrends_tr

          Date  Travel  Flight  Shopping  Hotel
0   2020-01-22      89      16        67     47
1   2020-01-23      72      24        70     49
2   2020-01-24      57      20        41     41
3   2020-01-25      59      18        72     43
4   2020-01-26      50      22        41     39
..         ...     ...     ...       ...    ...
197 2020-08-06      61      17        42     60
198 2020-08-07      72      17        33     60
199 2020-08-08      65      18        69     69
200 2020-08-09      61      22        58     74
201 2020-08-10      70      20        41     66

[202 rows x 5 columns]

# Covid19 Dataset Preparation

In [9]:
import pandas as pd
import wget

In [10]:
# url of the raw csv dataset
urls = [
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
]
[wget.download(url) for url in urls]

['time_series_covid19_confirmed_global.csv',
 'time_series_covid19_deaths_global.csv',
 'time_series_covid19_recovered_global.csv']

In [11]:
# Loading dataset and extracting date list
confirmed_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [12]:
# Merging Confirmed, Deaths and Recovered
dates = confirmed_df.columns[4:]
confirmed_df_long = confirmed_df.melt(
    #identifier variables
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Confirmed'
)
deaths_df_long = deaths_df.melt(
    #identifier variables
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Deaths'
)
recovered_df_long = recovered_df.melt(
    #identifier variables
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Recovered'
)

In [13]:
recovered_df_long = recovered_df_long[recovered_df_long['Country/Region']!='Canada']

In [14]:
# Merging confirmed_df_long and deaths_df_long
full_table = confirmed_df_long.merge(
  right=deaths_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)
# Merging full_table and recovered_df_long
full_table = full_table.merge(
  right=recovered_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

# Performing Data Cleaning

There are 3 tasks we would like to do
1. Converting Date from string to datetime
2. Replacing missing value NaN
3. Coronavirus cases reported from 3 cruise ships should be treated differently

In [15]:
#String to Datetime 
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [16]:
full_table.isna().sum()

Province/State    37740
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered          3876
dtype: int64

In [17]:
# There are 1,602 NaNs in Recovered and let’s replace them with 0
full_table['Recovered'] = full_table['Recovered'].fillna(0)

In [18]:
#extracting the ship data
ship_rows = full_table['Province/State'].str.contains('Grand Princess') | full_table['Province/State'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('MS Zaandam')
#Getting rid of ship data from full_table
full_ship = full_table[ship_rows]

In [19]:
full_table = full_table[~(ship_rows)]

#  Data Aggregation

1. Confirmed, Deaths, Recovered are existing data from raw CSV dataset.
2. Adding an active cases column Active -->  active = confirmed — deaths — recovered

In [20]:
# Active Case = confirmed - deaths - recovered
full_table['Active'] = full_table['Confirmed'] - full_table['Deaths'] - full_table['Recovered']

In [21]:
# Country/Region wise and group them by Date and Country/Region 
full_grouped = full_table.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

C:\Users\oktay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [22]:
# float to int 
full_grouped['Active']=full_grouped['Active'].astype('int64')
full_grouped['Recovered']=full_grouped['Recovered'].astype('int64')

In [23]:
full_grouped

            Date      Country/Region  Confirmed  Deaths  Recovered  Active
0     2020-01-22         Afghanistan          0       0          0       0
1     2020-01-22             Albania          0       0          0       0
2     2020-01-22             Algeria          0       0          0       0
3     2020-01-22             Andorra          0       0          0       0
4     2020-01-22              Angola          0       0          0       0
...          ...                 ...        ...     ...        ...     ...
37939 2020-08-12  West Bank and Gaza      15184     105       8369    6710
37940 2020-08-12      Western Sahara         10       1          8       1
37941 2020-08-12               Yemen       1841     528        937     376
37942 2020-08-12              Zambia       8501     246       7233    1022
37943 2020-08-12            Zimbabwe       4893     122       1620    3151

[37944 rows x 6 columns]

In [24]:
#Turkey cases
tr = full_grouped[full_grouped['Country/Region'] == 'Turkey']

In [25]:
#Germany cases
de = full_grouped[full_grouped['Country/Region'] == 'Germany']

In [26]:
#Italy cases
it = full_grouped[full_grouped['Country/Region'] == 'Italy']

In [27]:
#France cases
fr = full_grouped[full_grouped['Country/Region'] == 'France']

In [28]:
tr

            Date Country/Region  Confirmed  Deaths  Recovered  Active
171   2020-01-22         Turkey          0       0          0       0
357   2020-01-23         Turkey          0       0          0       0
543   2020-01-24         Turkey          0       0          0       0
729   2020-01-25         Turkey          0       0          0       0
915   2020-01-26         Turkey          0       0          0       0
...          ...            ...        ...     ...        ...     ...
37185 2020-08-08         Turkey     239622    5829     222656   11137
37371 2020-08-09         Turkey     240804    5844     223759   11201
37557 2020-08-10         Turkey     241997    5858     224970   11169
37743 2020-08-11         Turkey     243180    5873     226155   11152
37929 2020-08-12         Turkey     244392    5891     227089   11412

[204 rows x 6 columns]

In [29]:
tr.dtypes

Date              datetime64[ns]
Country/Region            object
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
dtype: object

In [30]:
full_grouped.dtypes

Date              datetime64[ns]
Country/Region            object
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
dtype: object

# Adding New cases, New deaths and New Recovered columns

1. Deducting the corresponding accumulative data on previous day

In [31]:
import numpy as np
# new cases 
temp = full_grouped.groupby(['Country/Region', 'Date', ])['Confirmed', 'Deaths', 'Recovered']
temp = temp.sum().diff().reset_index()
mask = temp['Country/Region'] != temp['Country/Region'].shift(1)
temp.loc[mask, 'Confirmed'] = np.nan
temp.loc[mask, 'Deaths'] = np.nan
temp.loc[mask, 'Recovered'] = np.nan
# renaming columns
temp.columns = ['Country/Region', 'Date', 'New cases', 'New deaths', 'New recovered']
# merging new values
full_grouped = pd.merge(full_grouped, temp, on=['Country/Region', 'Date'])
# filling na with 0
full_grouped = full_grouped.fillna(0)
# fixing data types
cols = ['New cases', 'New deaths', 'New recovered']
full_grouped[cols] = full_grouped[cols].astype('int')
# 
full_grouped['New cases'] = full_grouped['New cases'].apply(lambda x: 0 if x<0 else x)

C:\Users\oktay\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
# Final data to a CSV file saving
full_grouped.to_csv('COVID-19-time-series-clean-complete.csv')

In [33]:
full_grouped

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0
1,2020-01-22,Albania,0,0,0,0,0,0,0
2,2020-01-22,Algeria,0,0,0,0,0,0,0
3,2020-01-22,Andorra,0,0,0,0,0,0,0
4,2020-01-22,Angola,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
37939,2020-08-12,West Bank and Gaza,15184,105,8369,6710,309,1,188
37940,2020-08-12,Western Sahara,10,1,8,1,0,0,0
37941,2020-08-12,Yemen,1841,528,937,376,10,5,22
37942,2020-08-12,Zambia,8501,246,7233,1022,226,5,229
37943,2020-08-12,Zimbabwe,4893,122,1620,3151,75,18,96